<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/camera.css') }}">
    <title>ESP32-CAM Stream</title>
</head>
<body>

    <header>
        <nav class="navbar">
            <a href="/" class="nav-brand">Fire detection</a>
            <ul class="nav-links">
                <li><a href="/">Tổng quan</a></li>
                <li><a href="/uploads/images">Hình ảnh đã dự đoán</a></li>
                <li><a href="/uploads/videos">Video đã dự đoán</a></li>
                <li><a href="/detected_frames">Real time inference</a></li>
            </ul>
        </nav>
    </header>
    <div class="content-wrapper">
        <main>
            <h1>ESP32-CAM Stream</h1>

            <div id="videoContainer">
                <img id="videoStream" src="" alt="Video Stream">
            </div>
            <div class="btn_group">
                <button id="startButton">Start Streaming</button>

                <button id="stopButton" >Stop Streaming</button>
            </div>


        </main>
    </div>


    <footer>
        <p>&copy; 2024 ESP32-CAM Project. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
