<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_video.css') }}">
    <title>Uploaded Videos</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/" class="nav-brand">Fire detection</a>
            <ul class="nav-links">
                <li><a href="/">Tổng quan</a></li>
                <li><a href="/uploads/images">Hình ảnh đã dự đoán</a></li>
                <li><a href="/uploads/videos">Video đã dự đoán</a></li>
                <li><a href="/detected_frames">Real time inference</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <button onclick="location.href='/inference'">Back</button>
        <h1>Uploaded Videos</h1>
        <table>
            <tr>
                <th>Original Filename</th>
                <th>Output Filename</th>
                <th>Timestamp</th>
            </tr>
             {% for original_filename, output_filename, timestamp in videos %}
            <tr>
                <td>{{ original_filename }}</td>
                <td>{{ output_filename }}</td>
                <td>{{ timestamp }}</td>
            </tr>
             {% endfor %}
        </table>
    </main>

    <footer>
        <p>&copy; 2024 ESP32-CAM Project. All rights reserved.</p>
    </footer>
</body>
</html>
